  body {
    background-color: black;
  }
  h1 {
    color: white;
  }
  a {
    color: white;
  }
hr {
  background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
}
